<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>modelName</key>
        <string>NTW4700YQ</string>
        <key>price</key>
        <real>449.99</real>
        <key>energyCost</key>
        <real>50</real>
        <key>stars</key>
        <real>25085</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>NTW4630YQ</string>
        <key>price</key>
        <real>399.99</real>
        <key>energyCost</key>
        <real>50</real>
        <key>stars</key>
        <real>2178</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>FAFW3801LW</string>
        <key>price</key>
        <real>699.99</real>
        <key>energyCost</key>
        <real>11</real>
        <key>stars</key>
        <real>9467</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>GTWN2800DWW</string>
        <key>price</key>
        <real>549.99</real>
        <key>energyCost</key>
        <real>52</real>
        <key>stars</key>
        <real>4045</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>GTWN4250DWS</string>
        <key>price</key>
        <real>599.99</real>
        <key>energyCost</key>
        <real>22</real>
        <key>stars</key>
        <real>5600</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>WM2250CW</string>
        <key>price</key>
        <real>719.99</real>
        <key>energyCost</key>
        <real>10</real>
        <key>stars</key>
        <real>5032</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>WM3470HVA</string>
        <key>price</key>
        <real>1199.99</real>
        <key>energyCost</key>
        <real>12</real>
        <key>stars</key>
        <real>7846</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>WM3470HWA</string>
        <key>price</key>
        <real>1099.99</real>
        <key>energyCost</key>
        <real>12</real>
        <key>stars</key>
        <real>7847</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>WT1101CW</string>
        <key>price</key>
        <real>629.99</real>
        <key>energyCost</key>
        <real>24</real>
        <key>stars</key>
        <real>1362</real>
    </dict>
    <dict>
        <key>modelName</key>
        <string>WT4870CW</string>
        <key>price</key>
        <real>719.99</real>
        <key>energyCost</key>
        <real>24</real>
        <key>stars</key>
        <real>7094</real>
    </dict>
</array>
</plist>
